body {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display:list-item;
    
}

p {
    display: inline-flex;
    margin: auto 10px;
    font-size: 35px;
    color: darkblue;
    border-radius: 8px;
    border: 1px solid lightblue;
    padding: 10px;
    justify-content: center;
}
